 /* App.css */
 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



 #root {
  font-family: 'Lato', sans-serif;
  color: 'black';
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right bottom, #43c0ac, #6ecda3, #97d99b, #c0e496, #eaec96); 
 
  
 
  /* calendar styles */

  --fc-small-font-size: .85em;
  --fc-page-bg-color: #ffffffde;
  --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
  --fc-neutral-text-color: #808080;
  --fc-border-color: #ddd;

  --fc-button-text-color: #fff;
  --fc-button-bg-color: #fa0559;
  --fc-button-border-color: #2C3E50;
  --fc-button-hover-bg-color: #1e2b37;
  --fc-button-hover-border-color: #1a252f;
  --fc-button-active-bg-color: #a93199;
  --fc-button-active-border-color: #151e27;

  --fc-event-bg-color: #3788d8;
  --fc-event-border-color: #3788d8;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

  --fc-more-link-bg-color: #d0d0d0;
  --fc-more-link-text-color: inherit;

  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;

  --fc-non-business-color: rgba(215, 215, 215, 0.3);
  --fc-bg-event-color: rgb(143, 223, 130);
  --fc-bg-event-opacity: 0.3;
  --fc-highlight-color: rgba(188, 232, 241, 0.3);
  --fc-today-bg-color: rgba(255, 220, 40, 0.15);
  --fc-now-indicator-color: red;
}

.fc .fc-button-group > .fc-button{
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
}

.fc .fc-button-group > .fc-button{
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
  border: none !important;

}

.fc-today-button {
  background-color: #fa0559;
  color: #F5F3F4;
  border-radius: 23px !important;
  border: none !important;

}

.fc {
  padding: 10px;
}

.fc .fc-media-screen .fc-direction-ltr .fc-theme-standard {
  max-width: 100%;
  overflow-x: auto;
}

.fc button.fc-addEventButton-button {
  color: white;
  border-radius: 23px;
  padding: 10px;
  cursor: pointer;
  border: none;
}



/* Additional styles for your Box component */




 .background{
  /* background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://i.ibb.co/D5XsCY2/heroImg.png'); */
  /* background: linear-gradient(rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%), ; */
  color: white;
  display: flex;
  flex-direction: column;
 
  height: 100vh;
  width: 100vw;
 
 }

.calendar{
  background-color: #F5F3F4;
  border-radius: 23px;
  padding: 20px;
  margin: 20px;
  width: 100%;
  max-width: 500px;
  box-shadow: 10px 10px 14px 1px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

}

 .boxBig {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
 }

 .navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  color: black;
  
 }

 .smallLogo {
  /* Sizing */
  max-width: 100px; /* Set maximum width to 100px */
  max-height: 100px; /* Set maximum height to 100px */
  /*   align left */ 
  margin-left: 10px;
  /*   margin top*/ 
  margin-top: 10px;
 
  /* Box properties */
  background-color: #fa0559; /* Background color */
  border-radius: 999px; /* Rounded corners */
  padding: 10px; /* Padding */
  
  /* Typography */
  color: #F5F3F4; /* Text color */
  font-family: "Lato", "Inter", Helvetica, Arial, sans-serif; /* Font family */
  font-size: 15px; /* Font size */
  font-weight: 700; /* Font weight */
  text-align: center; /* Text alignment */

  
  /* Miscellaneous */
  opacity: 1; /* Full opacity */
  outline: 0 solid transparent; /* Remove outline */
  user-select: none; /* Disable text selection */
  -webkit-user-select: none; /* For Safari */
  touch-action: manipulation; /* Optimize for touch devices */
  word-break: normal; /* Break long words */
  border: 0; /* Remove border */
  box-shadow: 9px 9px 9px 1px rgba(0, 0, 0, 0.2);
}


/* Path: frontend/tuneGather/src/components/Calendar/Calendar.css */
  /* Datetimeform */

  .rdtPicker{
    border-radius: 23px;
    box-shadow: 10px 10px 14px 1px rgba(0, 0, 0, 0.2);
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
  }
 
  
